Dataset is obained from Kaggle.

This dataset contains listings of  **NEW YORK CITY AIRBNB**.

Load the data

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd
import io

from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [15]:
sample_data=pd.read_csv('/content/gdrive/My Drive/AB_NYC_2019.csv')
sample_data.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [16]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [17]:
sample_data.shape

(48895, 16)

In [18]:
sample_data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

check for the neighbourhood_group

In [20]:
 sample_data['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [21]:
 sample_data['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

Remove features that are not required

In [23]:
sample_data = sample_data.drop(['latitude', 'longitude', 'last_review', 'host_id'], axis='columns')
sample_data.shape

(48895, 12)

In [ ]:
Remove null values

In [24]:
sample_data.isnull().sum()

id                                    0
name                                 16
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [25]:
sample_data.shape

(48895, 12)

In [26]:
final_data = sample_data.dropna()
final_data.isnull().sum()

id                                0
name                              0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [27]:
final_data.shape

(38821, 12)

In [28]:
final_data

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
3          3831  ...              194
4          5022  ...                0
5          5099  ...              129
...         ...  ...              ...
48782  36425863  ...              147
48790  36427429  ...              339
48799  36438336  ...               87
48805  36442252  ...               40
48852  36455809  ...                1

[38821 rows x 12 columns]

In [32]:
final_data['availability_365'].value_counts(ascending=False)

0      12675
365      841
1        367
364      301
5        291
       ...
214       24
183       23
196       21
181       20
202       19
Name: availability_365, Length: 366, dtype: int64

In [36]:
np.average(final_data['reviews_per_month'])

1.3732291800829448

The average reviews per month for an AIRBNB in New York city is 1.3 per month.

Filtering out the places with reviews less than 1.3 per month.

In [38]:
good_review_airbnb = final_data[final_data['reviews_per_month']>=1.3]
good_review_airbnb

             id  ... availability_365
3          3831  ...              194
7          5178  ...              220
9          5238  ...              188
11         5441  ...               39
12         5803  ...              314
...         ...  ...              ...
48351  36209003  ...              356
48634  36351128  ...               15
48636  36351543  ...               87
48701  36390226  ...               14
48805  36442252  ...               40

[13898 rows x 12 columns]

In [39]:
good_review_airbnb.shape

(13898, 12)

In [40]:
good_review_airbnb.head()

      id  ... availability_365
3   3831  ...              194
7   5178  ...              220
9   5238  ...              188
11  5441  ...               39
12  5803  ...              314

[5 rows x 12 columns]

In [41]:
good_review_airbnb['neighbourhood_group'].value_counts()

Brooklyn         5631
Manhattan        5437
Queens           2217
Bronx             449
Staten Island     164
Name: neighbourhood_group, dtype: int64

In [43]:
good_review_airbnb['room_type'].value_counts()

Entire home/apt    7011
Private room       6540
Shared room         347
Name: room_type, dtype: int64

###**Remove outliers**###

Check the price of the airbnb's available

In [44]:
good_review_airbnb.price.describe()

count    13898.000000
mean       135.614837
std        134.148954
min          0.000000
25%         65.000000
50%        100.000000
75%        165.000000
max       7500.000000
Name: price, dtype: float64

You can see that there are some houses with price 0.

These are clearly dummy records.

Delete the records with less than 25% of the price value (= 65)

In [53]:
final_data1 = good_review_airbnb[good_review_airbnb['price'] > 65]
final_data1

             id  ... availability_365
3          3831  ...              194
7          5178  ...              220
9          5238  ...              188
11         5441  ...               39
12         5803  ...              314
...         ...  ...              ...
48252  36152878  ...               98
48268  36172164  ...              349
48351  36209003  ...              356
48634  36351128  ...               15
48805  36442252  ...               40

[10407 rows x 12 columns]

In [54]:
final_data1.shape

(10407, 12)

In [51]:
final_data1.availability_365.describe()

count    10407.000000
mean       151.589507
std        118.704816
min          0.000000
25%         40.000000
50%        134.000000
75%        260.000000
max        365.000000
Name: availability_365, dtype: float64

In [55]:
final_data1 = final_data1[final_data1['availability_365'] != 0]
final_data1

             id  ... availability_365
3          3831  ...              194
7          5178  ...              220
9          5238  ...              188
11         5441  ...               39
12         5803  ...              314
...         ...  ...              ...
48252  36152878  ...               98
48268  36172164  ...              349
48351  36209003  ...              356
48634  36351128  ...               15
48805  36442252  ...               40

[9581 rows x 12 columns]

In [56]:
final_data1.shape

(9581, 12)

In [58]:
final_data1 = final_data1.drop(['number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count'], axis='columns')
final_data1.head()

      id  ... availability_365
3   3831  ...              194
7   5178  ...              220
9   5238  ...              188
11  5441  ...               39
12  5803  ...              314

[5 rows x 9 columns]

In [61]:
final_data1.host_name.unique().shape

(3947,)